{% extends "baseTemplates/base.html" %}
{% load staticfiles %}

{% block body_block %}

    <div class="row">
        <div class="col-md-12">
            <h2>ASRANet {{ event_type|title }}s</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">

            <img src="{% static "Images/holding-image.jpg" %}"/>
            <p>{{ description }}</p>
            <h3>Upcoming {{ event_type|title }}s</h3>

            {% for event in event_list %}

                {% if event.start_date >= now %}

                    <section id="date">
                        <p id="month">{{ event.start_date|date:"M" }}</p>
                        <p id="day">{{ event.start_date|date:"d" }}</p>
                    </section>
                    <section id="info">
                        <p id="title"><a href="{{ event.slug }}">{{ event.event_name }}</a></p>
                        <p>3 day {{ event_type }} - {{ event.venue.city }}, {{ event.venue.country }}</p>
                    </section>

                {% endif %}

            {% empty %}
                <h4>There are no planned events. Please check again later.</h4>
            {% endfor %}

        </div>

        <div class="col-md-4">
            <h2>Full {{ event_type }} list</h2>
            <ul>
                {% for event in event_list %}
                <li><a href="{{ event.slug }}">{{ event.event_name }}</a></li>
                {% endfor %}
            </ul>
            <h2>In-house {{ event_type|title }}s</h2>
            <p>ASRANet offers a range of in-house {{ event_type }}s to suit specification.</p>
            <p id="title"><a href="">Previous ASRANet Inhouse {{ event_type|title }}s</a></p>
        </div>

    </div>


{% endblock %}